<%= form_for(institution) do |f| %>
  <% if institution.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(institution.errors.count, "error") %> prohibited this institution from being saved:</p>

      <ul>
      <% institution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
