// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$greenblue: #277279;
$ivory: #e4e6c4;
$greenbluehl: #3c8f96;
$goldenrod: #e7b322;
$midnightblue: #231956;
$crimson: #de0011;
$deepgreen: #0f5f3a;

#Intro {
  top: 0;
  position: fixed;
  height: 80px;
  width: 100%;
  line-height: 60px;
  z-index: 1000;
  background-color: $greenblue;
  h1 {
    margin-left: 15px;
    color: $ivory;
  }
}

.navbar {
  background-color: $greenblue;
  width: 100%;
  margin-top: 80px;
  .nav-link {
    color: $ivory;
  }
  .nav-link:hover {
    background-color: $greenbluehl;
  }
}

.test {
  position: relative;
  height: 80px;
  margin-top: 120px;
  width: 100%;
  background-color: black;
  color: white;
}

.navbar-right {
  margin-right: 20px;
}

.signup-form {
  input {
    margin-bottom: 10px;
    margin-left: 5px;
  }
  button {
    margin: 10px;
  }
  textarea {
    height: 30px;
    width: 100%;
    border: none;
  }
}

.modal-footer {
  border: none;
}

.modal {
  // background-color: $ivory;
  color: $greenblue;
}
