<div class="container-fluid">

<div class="row">
<div class="col-md-6" style="text-align:center;">

<p><strong>A collaborative project sponsored by</strong><br><a href="http://www.eastasianlib.org/"><img src="logo1.png" ></a>&nbsp;&nbsp;<a href="https://mellon.org/"><img src="logo2.png" ></a></p>
</div>
<div class="col-sm-6" style="text-align:center;">
<p><strong>With contributions from</strong><br>
<a href="//www.lib.uci.edu"><img src="ucilib.png" height="80" width="80" alt="uci libraries"></a>
&nbsp;&nbsp;

<a href="//library.stanford.edu/"><img src="stanford.jpg" height="80" width="80" alt="Stanford library"></a>
&nbsp;&nbsp;
<a href="//library.harvard.edu/"><img src="harvard.jpg" height="80" width="80" alt="Harvard library"></a>
&nbsp;&nbsp;
<a href="//www.lib.berkeley.edu/"><img src="berkeley.png" height="80" width="80" alt="UC Berkeley library"></a></p>

</div>

</div>
</div>
<p style="margin:15px;">Note: This page is a mockup. The content and images used throughout are placeholders.</p>
