<div ng-controller="mainController">
<header>
  <div class="uci-header navbar navbar-fixed-top">
    <div class="navbar-header navbar-left hidden-xs hidden-sm">
      <a class="navbar-brand" href="//www.lib.uci.edu" style="padding-top:12px;">
        <%= image_tag("uci-lib-logo-trans.png", alt: "UCI Libraries") %>
  	  </a>
    </div>
    <div class="navbar-header navbar-right">
      <a class="navbar-brand ming-title" ui-sref="main">{{title}}</a>
    </div>
  </div>
  <titles-nav></titles-nav>
</header>

<div class="main-content">
  <ui-view>
  </ui-view>
</div><!-- /.container-->
<footer>
  <%= render "footer" %>
</footer>
<signup-form></signup-form>
<log-in></log-in>
</div>
