<div class="modal fade" id="signupFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">
          Ming Scholar Registration Form
        </h2>
        <h4 class="modal-title" >
          Thank you for wanting to make contribution to this project! Please fill out this form.
        </h4>
        <!-- <h4 class="modal-title" id="myModalLabel">Modal title</h4> -->
      </div>
      <div class="modal-body">
        <form class="signup-form" ng-submit="submitUser(formData, myForm)" name="myForm">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" ng-model="formData.email" required/>
          <span ng-show="myForm.email.$error.required && myForm.email.$dirty">required</span>
          <span ng-show="!myForm.email.$error.required && myForm.email.$error.email && myForm.email.$dirty">invalid email</span><br/>

          <label for="fname">First Name</label>
          <input type="text" id="fname" ng-model="formData.fname" name="fname" required/>
          <span ng-show="myForm.fname.$error.required && myForm.fname.$dirty">required</span><br/>

          <label for="lname">Last Name</label>
          <input type="text" id="lname" ng-model="formData.lname" name="lname" required/>
          <span ng-show="myForm.lname.$error.required && myForm.lname.$dirty">required</span><br/>

          <label for="username">Username</label>
          <input type="text" id="username" name="username" ng-model="formData.username" ng-minlength="5" ng-maxlength="20" ng-pattern="/^[A-z][A-z0-9]*$/" required/>
          <span ng-show="myForm.username.$error.required && myForm.username.$dirty">required</span>
          <span ng-show="!myForm.username.$error.minLength && !myForm.username.$error.maxLength && myForm.username.$error.pattern && myForm.username.$dirty">Must start with a letter, and contain letters &amp; numbers only.</span>
          <span ng-show="!myForm.username.$error.required && (myForm.username.$error.minlength || myForm.username.$error.maxlength) && myForm.username.$dirty">Username must be between 5 and 20 characters.</span><br/>

          <label for="country">Country</label>
          <country-select ng-model="form.country" name="country" required></country-select><span ng-show="myForm.country.$error.required && myForm.country.$dirty">required</span><br/>

          <label for="institution">Affiliated Institution (optional)</label>
          <input type="text" ng-model="formData.institution" name="institution"/><br/>

          <label for="research">Areas of Research</label>
          <textarea type="textarea" ng-model="formData.research" name="research" required></textarea>
          <span ng-show="myForm.research.$error.required && myForm.research.$dirty">required</span><br/>

          <label for="password">Password</label>
          <input type="password" id="password" name="password" ng-model="formData.password" ng-minlength="6" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required  />
          <span ng-show="myForm.password.$error.required && myForm.password.$dirty">required</span>
          <span ng-show="!myForm.password.$error.required && (myForm.password.$error.minlength || myForm.password.$error.maxlength) && myForm.password.$dirty">Passwords must be between 6 and 20 characters.</span>
          <span ng-show="!myForm.password.$error.required && !myForm.password.$error.minlength && !myForm.password.$error.maxlength && myForm.password.$error.pattern && myForm.password.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span><br/>

          <label for="password_c">Confirm Password</label>
          <input type="password" id="password_c" name="password_c" ng-model="formData.password_c" valid-password-c required/>
          <span ng-show="myForm.password_c.$error.required && myForm.password_c.$dirty">Please confirm your password.</span>
          <span ng-show="!myForm.password_c.$error.required && myForm.password_c.$error.noMatch && myForm.password.$dirty">Passwords do not match.</span><br/>

          <button type="submit" class="btn pull-right" ng-disabled="!myForm.$valid">Submit</button>
          <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>

          <br/>

        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
