<%= form_for(title) do |f| %>
  <% if title.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(title.errors.count, "error") %> prohibited this title from being saved:</p>

      <ul>
      <% title.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
