<div class="container">
  <back-link></back-link>
  <article>
    <h1>About</h1>

    <p>
    Funded by Andrew W. Mellon Foundation under the Innovation Grant of the Council on East Asian Libraries (CEAL), the crowd-translation project aims to develop a comprehensive Chinese-English dictionary of Ming government official titles. To do so, we, a team of Chinese studies librarians, devise this online crowd-translation system, which allows Ming scholars around the world to contribute English translations of Ming official titles that have not yet been translated by Charles Hucker in his Dictionary of Official Titles in Imperial China.  Through this system, registered Ming scholars would be able to form a collaborative virtual community where they could not only submit translations, but also review and comment on translations by their peers, suggest potential translators, and more.
    </p>

    <p>
    Ming government official titles currently in the system come from two sources: automatic text mining from the China Biographical Database (CBDB) group, and manual extraction by the librarian team from primary sources, such as Ming Shi.  The crowd-translation system will run from November 7, 2016 through July 6, 2017. We sincerely invite and encourage Ming scholars around the world to make contributions to this project, which could benefit generations of Ming studies. Their contributions will be recognized on the list of contributors, and in Bilingual Dictionary of Ming Government Official Titles.
    </p>

    <p>
    The bilingual dictionary will be made available in e-Scholarship, the University of California’s institutional repository, for open access by the end of September 2017. It will also be used to enhance the infrastructure of China Biographical Database (CBDB).
    </p>

    <p>
    The team includes:
    <ul>
     <li>Ying Zhang 張穎 (UC Irvine), project lead</li>
     <li>Susan Xue 薛燕 (UC Berkeley), outreach coordinator</li>
     <li>Zhaohui Xue 薛昭慧 (Stanford)</li>
     <li>Xiaohe Ma 馬小鶴  (Harvard)</li>
     <li>Martin Heijdra 何義壯 (Princeton), project consultant & leading translation reviewer</li>
     <li>Tai-Loi Ma 馬泰來 (Princeton), project consultant & translation reviewer</li>
     <li>Thomas Nimick 倪清茂 (USMA), project consultant & translation reviewer</li>
     <li>Shouxian Gao 高壽仙 (北京行政學院Beijing Administrative College), project consultant</li>
    </ul>
    </p>


    <p>
    該明代政府官名眾包翻譯項目由 Andrew W. Mellon 基金會資助, 並通過北美東亞圖書館委員會（CEAL)頒發 的Innovation Grant研究基金支持。
    本項目借助現代信息技術、建立眾包翻譯（crowd-translation）系統，誠邀全球明代研究專家學者集思廣益，在賀凱（Charles  O. Hucker）的《中國古代官名辭典》（A Dictionary of Official Titles in Imperial China）之基礎上，整理、編輯、出版優化完善的網絡免費版中英雙語《明代官名辭典》。該辭典計畫在2017年9月底於加州大學的e-Scholarship上開放使用，同時也為中國人物傳記資料庫的完善提供必要的工具。
    我們相信該電子詞典的上線將有助於明代研究。所有使用本系統參與明代官名翻譯的專家學者的姓名會列入貢獻者名單, 以及將要出版的雙語《明代官名辭典》。
    該項目由以下中國研究圖書館員明代人物資料數據工作小組（簡稱：北美圖書館員小組）成員負責。小組成員包括：
    <ul>
      <li>Ying Zhang 張穎 (UC Irvine), project lead</li>
      <li>Susan Xue 薛燕 (UC Berkeley), outreach coordinator</li>
      <li>Zhaohui Xue 薛昭慧 (Stanford)</li>
      <li>Xiaohe Ma 馬小鶴  (Harvard)</li>
      <li>Martin Heijdra 何義壯 (Princeton), project consultant & leading translation reviewer</li>
      <li>Tai-Loi Ma 馬泰來 (Princeton), project consultant & translation reviewer</li>
      <li>Thomas Nimick 倪清茂 (USMA), project consultant & translation reviewer</li>
      <li>Shouxian Gao 高壽仙 (北京行政學院Beijing Administrative College), project consultant</li>
    </ul>
    </p>

  </article>
</div>
