<div class="container">


  <div class="container-fluid">
    <div class="navbar-collapse" id="admin-nav-right">
      <ul class="nav navbar-nav navbar-left admin">
        <li class="nav-item">
          <a class="nav-link back" ui-sref="main">< Back to main</a>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right admin">
        <li class="nav-item" ng-class="{active: translationAuth}">
          <a class="nav-link" ng-click="showTranslations()">
            Approve Translations
          </a>
        </li>
        <li class="nav-item" ng-class="{active: userAuth}">
          <a class="nav-link" ng-click="showUsers()">
            Approve Scholars
          </a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  <div ng-show="userAuth" class="container">
    <user-approval></user-approval>
  </div>
  <div ng-show="translationAuth" class="container">
    <translation-approval></translation-approval>
  </div>


</div>
