<div class="container">
  <back-link></back-link>
  <div class="row content-view">
    <div class="navbar-collapse">
      <ul class="nav nav-tabs">
        <li ng-click="showTranslations()" ng-class="{active: translationAuth}"><a>Approve Translations</a></li>
        <li ng-show="isSuperAdmin" ng-click="showUsers()" ng-class="{active: userAuth}"><a>Approve Scholars</a></li>
        <li ng-click="showTitleComments()" ng-class="{active: titleComments}"><a>View Title Comments</a></li>
        <li ng-click="showExport()" ng-class="{active: exportAuth}"><a>Export Data</a></li>
        <!-- <li ng-click="addTitle()" ng-class="{active: addTitle}"><a>Add Title</a></li> -->
        <li ng-click="showArchived()" ng-class="{active: archived}"><a>Archived Titles</a></li>
        <li ng-click="showAdminAuth()" ng-class="{active: adminAuth}"><a>Authorize Admin</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
  <div ng-show="userAuth" class="container">
    <user-approval></user-approval>
  </div>
  <div ng-show="translationAuth" class="container">
    <translation-approval></translation-approval>
  </div>
  <div ng-show="titleComments" class="container">
    <title-comments></title-comments>
  </div>
  <div ng-show="exportAuth" class="container">
    <export></export>
  </div>
  <div ng-show="addTitle" class="container">
    <add-title></add-title>
  </div>
  <div ng-show="archived" class="container">
    <archived></archived>
  </div>
</div>
