<div class="container">
  <back-link></back-link>
  <article>
    <h1>Bibliography</h1>

    <p>Charles O. Hucker, <i>A dictionary of official titles in imperial China  = 中國古代官名辭典</i>，北京大學出版社, 2008</p>
    <p><i>China Biographical Database (CBDB) = 中國歷代人物傳記資料庫 <a href="http://db1.ihp.sinica.edu.tw/cbdbc/ttsweb?@0:0:1:cbdbkm@@0.8607418220618995">http://db1.ihp.sinica.edu.tw/cbdbc/ttsweb?@0:0:1:cbdbkm@@0.8607418220618995</a></i></p>
    <p>林金水，邹萍编,  <i>A concise dictionary of official titles in ancient China= 中国古代官制译名简明手册</i>，上海 : 上海书店出版社, 2005。</p>
    <p>(清)張廷玉等撰， 楊家駱主編，<i>明史</i>， 臺北市：鼎文書局, 民1980，底本 ：清武英殿本(Retrieved from Scripta Sinica 漢籍電子文獻資料庫 <a href="http://hanchi.ihp.sinica.edu.tw/ihp/hanji.htm">http://hanchi.ihp.sinica.edu.tw/ihp/hanji.htm</a></p>
    <p>李東陽等奉敕撰；申時行等奉敕重修，<i>大明會典</i>， 台北 : 國風出版社，1963。(Retrieved from Scripta Sinica 漢籍電子文獻資料庫 <a href="http://hanchi.ihp.sinica.edu.tw/ihp/hanji.htm">http://hanchi.ihp.sinica.edu.tw/ihp/hanji.htm</a></p>
    <p><i>明實錄</i>，中央研究院歷史語言研究所校勘，臺北市 : 中央研究院歷史語言研究所，1966 (Retrieved from Scripta Sinica 漢籍電子文獻資料庫 <a href="http://hanchi.ihp.sinica.edu.tw/ihp/hanji.htm">http://hanchi.ihp.sinica.edu.tw/ihp/hanji.htm</a></p>
    <p>(明)林堯俞等纂修；(明)俞汝楫等編撰，<i>禮部志稿</i>，臺北市 : 臺灣商務印書館，1983  (Retrieved from Scripta Sinica 漢籍電子文獻資料庫 <a href="http://hanchi.ihp.sinica.edu.tw/ihp/hanji.htm">http://hanchi.ihp.sinica.edu.tw/ihp/hanji.htm</a></p>
    <p><i>大明一統文武諸司衙門官制 ：十六卷</i>，臺北市  ：臺灣學生書局，1970</p>
    <p>張德信，<i>明代職官年表</i>，黄山書社，2009	</p>
    <p>王天有，<i>明代國家機構研究</i>，北京大學出版社,  1992</p>
    <p>衛文選，<i>中國歷代官制簡表</i>，太原 ：山西人民出版社， 1987</p>
    <p>黃本驥，<i>歷代職官表</i>，上海古籍出版社，2005 </p>
    <p>嚴耕望，<i>中國地方行政制度史</i>，中央研究院歷史語言研究所，1990</p>
    <p>何朝暉，<i>明代縣政研究</i>，北京大學出版社，2006	</p>
    <p>周振鶴，<i>中國地方行政制度史</i>，上海人民出版社，2005	</p>
    <p>毛佩奇，王莉，<i>中國明代軍事史</i>，人民出版社， 1994</p>
    <p>季德源，<i>中華軍事職官大典</i>，解放軍出版社，1999</p>
  </article>
</div>
