<div class="container">
  <back-link></back-link>
  <article>
    <h1>Frequently Asked Questions</h1>
    <div ng-repeat="topic in faqTopics">
      <div class="faq-question">
        <strong>
          <a ng-if="!topic.isCollapsed" class="fa fa-plus"></a>
          <a ng-if="topic.isCollapsed" class="fa fa-minus"></a>
          <span ng-click="topic.isCollapsed = !topic.isCollapsed">
          {{topic.question}}
          </span>
        </strong>
      </div>
      <div class="faq-answer" uib-collapse="!topic.isCollapsed">
        <p>
          {{topic.answer}}
        </p>
        <br/>
      </div>
    </div>
  </article>
</div>
