<div class="container">
  <h1 style="padding-bottom:30px;">Ming Government Official Titles</h1>
  <p ng-show="projectOver" ng-cloak><strong class="highlight">{{untranslated}}</strong> official titles remaining to be translated out of <strong class="highlight">{{totalTitles}}</strong> titles in total. A deep appreciation to all contributors. Now, the crowd-translation phase has officially ended and the project team is working on reviewing official title names in Chinese/English/pinyin and preparing for the bilingual dictionary compilation. However, this site is still open for additional English translations, especially of those titles yet-to-be translated.</p>
  <p ng-show="projectOver" ng-cloak>The project has ended. Please contact the PI at yingz@uci.edu for questions and/or comments.</p>
  <p ng-show="!userIsSignedIn()"><i>Log in before finding and clicking on a specific official title to contribute.</i></p>
  <br>
  <div class="row">
    <div class="col-md-2">
      <institutions-menu ng-hide="smallScreen"></institutions-menu>
    </div>
    <div class="col-md-10">
      <div class="row">
        <titles-table></titles-table>
      </div>
    </div>
  </div>
</div>
