<div id="newTranslationModal" class="modal fade" my-modal>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2>Chinese Title:&nbsp;{{title.chinese_title}}</h2>
        <h2>Pinyin Title:&nbsp;{{title.pinyin_title}}</h2>
        <h3 class="modal-title" id="myModalLabel">
          Submit a New Translation:
        </h3>
      </div>
      <div class="modal-body">
        <form class="titles-form form-horizontal" ng-submit="postTranslation(formData, myForm)" name="myForm">
          <div class="form-group">
            <label class="col-md-12" for="translation_text">&nbsp;&nbsp;Your English translation:&nbsp;</label>
            <div class="col-md-12">
              <textarea rows="2" class="form-control" id="translation_text" name="translation_text" ng-model="formData.translation_text"></textarea>
            </div>

            <label class="col-md-12" for="justification">&nbsp;&nbsp;Justification for your translation:&nbsp;</label>
            <div class="col-md-12">
              <textarea rows="3" class="form-control" id="justification" name="justification" ng-model="formData.justification"></textarea>
            </div>

            <label class="col-md-12" for="scholars">&nbsp;&nbsp;Other scholar(s)with expertise to help translate this title (optional):&nbsp;</label>
            <div class="col-md-12">
              <textarea rows="2" class="form-control" id="scholars" name="scholars" ng-model="formData.scholars"></textarea>
            </div>

            <button type="submit" class="btn pull-right" ng-disabled="!(!!formData.official_title_comment || !!formData.scholars ||  !!formData.justification || !!formData.translation_text)">Submit</button>
            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
          </div>

          <br/>

        </form>
      </div>
    </div>
  </div>
</div>
