<div id="newTranslationModal" class="modal fade" my-modal>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2>Chinese Title:&nbsp;{{title.chinese_title}}</h2>
        <h2>Pinyin Title:&nbsp;{{title.pinyin_title}}</h2>
        <!-- <h3>parent?{{title}}</h3> -->
        <h3 class="modal-title" id="myModalLabel">
          Submit a New Translation:
        </h3>
      </div>
      <div class="modal-body">
        <form class="titles-form form-horizontal" ng-submit="postTranslation()" name="myForm">
          <div class="form-group">
            <label class="col-md-12" for="translation_text">&nbsp;&nbsp;Your English translation:&nbsp;</label>
            <div class="col-md-12">
              <input col-md-9 type="text" class="form-control" id="translation_text" name="translation_text" ng-model="formData.translation_text"/>
            </div>

            <label class="col-md-12" for="justification">&nbsp;&nbsp;Justification for your translation:&nbsp;</label>
            <div class="col-md-12">
              <input col-md-9 type="text" class="form-control" id="justification" name="justification" ng-model="formData.justification"/>
              <!-- <span class="form-error" ng-show="myForm.translation_text && myForm.justification.$dirty">please give an explication of your translation</span> -->
            </div>

            <label class="col-md-12" for="links">&nbsp;&nbsp;Links or citations to help us make a selection when more than one translation has been submitted:&nbsp;</label>
            <div class="col-md-12">
              <input type="text" class="form-control" id="links" name="links" ng-model="formData.links"/>
            </div>

            <label class="col-md-12" for="scholars">&nbsp;&nbsp;Other scholar(s)with expertise to help translate this title (optional):&nbsp;</label>
            <div class="col-md-12">
              <input type="text" class="form-control" id="scholars" name="scholars" ng-model="formData.scholars"/>
            </div>

            <div class="modal-header mid-form-title">
              <h3 class="modal-title" id="myModalLabel">
                More Information:
              </h3>
            </div>

            <label class="col-md-12" for="pinyin_comment">&nbsp;&nbsp;Comment on the Pinyin ({{title.pinyin_title}}):&nbsp;</label>
            <div class="col-md-12">
              <input col-md-9 type="text" class="form-control" id="pinyin_comment" name="pinyin_comment" ng-model="formData.pinyin_comment"/>
            </div>

            <label class="col-md-12" for="official_title_comment">&nbsp;&nbsp;Comment on the official title ({{title.chinese_title}}):&nbsp;</label>
            <div class="col-md-12">
              <input col-md-9 type="text" class="form-control" id="official_title_comment" name="official_title_comment" ng-model="formData.official_title_comment"/>
            </div>

            <button type="submit" class="btn pull-right" ng-disabled="!(!!formData.official_title_comment || !!formData.pinyin_comment  || !!formData.scholars || !!formData.links || !!formData.justification || !!formData.translation_text)">Submit</button>
            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
          </div>

          <br/>

        </form>
      </div>
    </div>
  </div>
</div>
