<form ng-show="!submitted" class="titles-form form-horizontal" ng-submit="changePassword(formData, myForm)" name="myForm">

<div class="form-group">

<label class="col-md-3 control-label" for="password"><span class="redfont">*&nbsp;</span>Password:&nbsp;</label>
<div class="col-md-9">
  <input class="form-control" type="password" id="password" name="password" ng-model="formData.password" ng-minlength="6" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required  />
  <span class="form-error" ng-show="myForm.password.$error.required && myForm.password.$dirty">required</span>
  <span class="form-error" ng-show="!myForm.password.$error.required && (myForm.password.$error.minlength || myForm.password.$error.maxlength) && myForm.password.$dirty">Passwords must be between 6 and 20 characters. 密碼字符必須在6-20個之間</span>
  <span class="form-error" ng-show="!myForm.password.$error.required && !myForm.password.$error.minlength && !myForm.password.$error.maxlength && myForm.password.$error.pattern && myForm.password.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)  必須至少有一個小寫、一個大寫、一個非字 母字符（數字或符號）</span>
</div>

<label class="col-md-3 control-label" for="password_c"><span class="redfont">*&nbsp;</span>Confirm Password:&nbsp;</label>
<div class="col-md-9">
  <input class="form-control" type="password" id="password_c" name="password_c" ng-model="formData.password_c" valid-password-c required/>
  <span class="form-error" ng-show="myForm.password_c.$error.required && myForm.password_c.$dirty">Please confirm your password.</span>
  <span class="form-error" ng-show="!myForm.password_c.$error.required && myForm.password_c.$error.noMatch && myForm.password.$dirty">Passwords do not match.</span>
</div>

<button type="submit" class="btn pull-right" ng-disabled="!myForm.$valid">Submit</button>
<button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
</div>

<br/>

</form>

<span ng-show="submitted">Thank you for applying to contribute to this project! An administrator will be reviewing your application and getting back to you soon.</span>
