<div class="profile-comments-table col-md-9">
  <table ng-table="tableParams" class="table" show-filter="true">
      <tr class="" ng-repeat="comment in $data" ng-model="comment.title.id" ng-click="seeTitle(comment.translation.title.id)">
          <td title="'Official Chinese'">
              {{comment.translation.title.chinese_title}}</td>
          <td title="'Translation'">
              {{comment.translation.translation_text}}</td>
          <td title="'Your Comment'" filter="{ comment_text: 'text' }" sortable="'comment_text'">
              {{comment.comment_text}}</td>
          <td title="'Date Submitted'" sortable="'created_at'">
              {{comment.formatted_date}}</td>
      </tr>
  </table>
</div>
