<div class="profile-comments-table col-md-9">
  <table ng-table="tableParams" table-pagination-top table-pagination-bottom  class="table" show-filter="true">
      <tr class="" ng-repeat="comment in $data" ng-model="comment.title.id" ng-click="seeTitle(comment.translation.title.id)">
          <td title="'Official Chinese'">
              {{comment.translation.title.chinese_title}}</td>
          <td title="'Official Pinyin'">
              {{comment.translation.title.pinyin_title}}</td>
          <td title="'Translation'">
              {{comment.translation.translation_text}}</td>
          <td title="'Your Comment'" filter="{ comment_text: 'text' }" sortable="'comment_text'">
              {{comment.comment_text}}</td>
          <td title="'Date Submitted'" sortable="'created_at'">
              {{comment.formatted_date}}</td>
      </tr>
  </table>
  <div ng-show="dataEmpty" ng-cloak>
    <p>You have not commented on any translations, yet. <a ui-sref="main">Go browse the titles table.</a></p>
  </div>
</div>
