<div class="profile-translation-table col-md-9">
  <table ng-table="tableParams" class="table" show-filter="true">
      <tr class="" ng-repeat="translation in $data" ng-model="translation.title.id" ng-click="seeTitle(translation.title.id)">
          <td title="'My Translation'" filter="{ translation_text: 'text'}" sortable="'translation_text'">
              {{translation.translation_text}}</td>
          <td title="'Chinese Title'">
              {{translation.title.chinese_title}}</td>
          <td title="'# of Comments'" sortable="'comments.length'">
              {{translation.comments.length}}</td>
          <td title="'Last Updated'" sortable="'comment_added_at'">
              {{translation.comment_added_at}}</td>
          <!-- <td title="'Areas of Research'" filter="{ research: 'text'}" sortable="'research'">
              {{translation.research}}</td>
          <td title="'Institution'" filter="{ institution: 'text'}" sortable="'institution'">
              {{translation.institution}}</td> -->

      </tr>
  </table>
</div>
