<div class="profile-translation-table col-md-9">
  <table ng-table="tableParams" class="table" show-filter="true">
      <tr class="" ng-repeat="translation in $data" ng-model="translation.title.id" ng-click="seeTitle(translation.title.id)">
          <td title="'English Translation'" filter="{ translation_text: 'text'}" sortable="'translation_text'">
              {{translation.translation_text}}</td>
          <td title="'First Name'" filter="{ fname: 'text'}" sortable="'fname'">
              {{translation.fname}}</td>
          <td title="'Last Name'" filter="{ lname: 'text'}" sortable="'lname'">
              {{translation.lname}}</td>
          <td title="'Country'" filter="{ country: 'text'}" sortable="'country'">
              {{translation.country}}</td>
          <td title="'Areas of Research'" filter="{ research: 'text'}" sortable="'research'">
              {{translation.research}}</td>
          <td title="'Institution'" filter="{ institution: 'text'}" sortable="'institution'">
              {{translation.institution}}</td>
          <td title="'Approved?'" filter="{ approved: 'select'}" filter-data="approvedFilter" sortable="'approved'">
              {{translation.approved}}</td>
          <td title="'Approve/Revoke'">
              <button ng-show="!translation.approved" ng-click="approveUser(translation)">Approve Scholar</button><button ng-show="translation.approved" ng-click="revokeUser(translation)">Revoke Access</button></td>

      </tr>
  </table>
</div>
