<div class="modal fade" id="signupFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span ng-click="resetForm()"  aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">
          Ming Scholar Registration Form
        </h2>
        <h4 ng-show="!submitted" class="modal-title" >
          Thank you for wanting to make contribution to this project! Please fill out this form.
        </h4>
        <p><span class="redfont">*</span> indicates a required field.</p>
        <!-- <h4 class="modal-title" id="myModalLabel">Modal title</h4> -->
      </div>
      <div class="modal-body">
        <form ng-show="!submitted" class="titles-form form-horizontal" ng-submit="submitUser(formData, myForm)" name="myForm">
          <div class="form-group">
            <label class="col-md-3 control-label" for="email"><span class="redfont">*&nbsp;</span>Email:&nbsp;</label>
            <div class="col-md-9">
              <input col-md-9 type="email" class="form-control" id="email" name="email" ng-model="formData.email" ng-change="resetEmailCheck()" required/>
              <span class="form-error" ng-show="myForm.email.$error.required && myForm.email.$dirty">required</span>
              <span class="form-error" ng-show="!myForm.email.$error.required && myForm.email.$error.email && myForm.email.$dirty">invalid email</span>
            </div>

            <label class="col-md-3 control-label" for="fname"><span class="redfont">*&nbsp;</span>First Name:&nbsp;</label>
            <div class="col-md-9">
              <input class="form-control" type="text" id="fname" ng-model="formData.fname" name="fname" required/>
              <span class="form-error" ng-show="myForm.fname.$error.required && myForm.fname.$dirty">required</span>
            </div>

            <label class="col-md-3 control-label" for="lname"><span class="redfont">*&nbsp;</span>Last Name:&nbsp;</label>
            <div class="col-md-9">
              <input class="form-control" type="text" id="lname" ng-model="formData.lname" name="lname" required/>
              <span class="form-error" ng-show="myForm.lname.$error.required && myForm.lname.$dirty">required</span>
            </div>

            <label class="col-md-3 control-label" for="country"><span class="redfont">*&nbsp;</span>Country:&nbsp;</label>
            <div class="col-md-9">
              <country-select class="countries form-control" ng-model="formData.country" name="country" required></country-select><span class="form-error" ng-show="myForm.country.$error.required && myForm.country.$dirty">required</span>
            </div>

            <label class="col-md-3 control-label" for="institution">Affiliated Institution:&nbsp;</label>
            <div class="col-md-9">
              <input class="form-control" type="text" ng-model="formData.institution" name="institution"/>
            </div>

            <label class="col-md-3 control-label" for="research"><span class="redfont">*&nbsp;</span>Areas of Research:&nbsp;</label>
            <div class="col-md-9">
              <input class="form-control" type="text" ng-model="formData.research" name="research" required></textarea>
              <span class="form-error" ng-show="myForm.research.$error.required && myForm.research.$dirty">required</span>
            </div>

            <label class="col-md-3 control-label" for="password"><span class="redfont">*&nbsp;</span>Password:&nbsp;</label>
            <div class="col-md-9">
              <input class="form-control" type="password" id="password" name="password" ng-model="formData.password" ng-minlength="6" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required  />
              <span class="form-error" ng-show="myForm.password.$error.required && myForm.password.$dirty">required</span>
              <span class="form-error" ng-show="!myForm.password.$error.required && (myForm.password.$error.minlength || myForm.password.$error.maxlength) && myForm.password.$dirty">Passwords must be between 6 and 20 characters. 密碼字符必須在6-20個之間</span>
              <span class="form-error" ng-show="!myForm.password.$error.required && !myForm.password.$error.minlength && !myForm.password.$error.maxlength && myForm.password.$error.pattern && myForm.password.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)  必須至少有一個小寫、一個大寫、一個非字 母字符（數字或符號）</span>
            </div>

            <label class="col-md-3 control-label" for="password_c"><span class="redfont">*&nbsp;</span>Confirm Password:&nbsp;</label>
            <div class="col-md-9">
              <input class="form-control" type="password" id="password_c" name="password_c" ng-model="formData.password_c" valid-password-c required/>
              <span class="form-error" ng-show="myForm.password_c.$error.required && myForm.password_c.$dirty">Please confirm your password.</span>
              <span class="form-error" ng-show="!myForm.password_c.$error.required && myForm.password_c.$error.noMatch && myForm.password.$dirty">Passwords do not match.</span>
              <span class="form-error" ng-show="emailExists">An account with this email has already been created.</span>
            </div>

            <button type="submit" class="btn pull-right" ng-disabled="!myForm.$valid">Submit</button>
            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
          </div>

          <br/>

        </form>

        <span ng-show="submitted">Thank you for applying to contribute to this project! An administrator will be reviewing your application and getting back to you soon.</span>
      </div>
    </div>
  </div>
</div>
