<table ng-table="tableParams" class="table" show-filter="true">
    <tr class="" ng-repeat="title in $data" ng-model="title.id" ng-click="seePosts(title.id)">
        <td title="'Chinese Title'" filter="{ chinese_title: 'text'}" sortable="'chinese_title'">
            {{title.chinese_title}}</td>
        <td title="'Pin Yin Title'" filter="{ pinyin_title: 'text'}" sortable="'pinyin_title'">
            {{title.pinyin_title}}</td>
        <td title="'# of Translations'" sortable="'num_translations'">
            {{title.num_translations}}</td>
        <td title="'Translations'">
            {{title.translations[0].translation_text}}</td>
    </tr>
</table>
