<nav class="project-nav navbar navbar-fixed-top navbar-light bg-faded">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-right" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="nav-right">
      <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a ng-show="userIsSignedIn()" ng-click="showDiscuss()" class="nav-link about discuss-nav" ui-sref-active="active">
              <i class="fa fa-comments-o fa-lg"></i>&nbsp;
              <strong>Discussion Board</strong>
            </a>
          </li>
          <li ng-hide="smallScreen" class="nav-item">
            <a class="nav-link" ui-sref="about" ui-sref-active="active">About</a>
          </li>
          <li ng-hide="smallScreen" class="nav-item">
            <a class="nav-link" ui-sref="contributors">Contributors</a>
          </li>
          <li ng-show="!userIsSignedIn()" class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#loginModal">Login</a>
          </li>
          <li ng-show="userIsSignedIn()" class="nav-item">
            <a class="nav-link" ng-click="logOutUser()">Logout</a>
          </li>
          <li ng-show="!userIsSignedIn()" class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#signupFormModal">
              Sign Up
            </a>
          </li>
          <li ng-hide="smallScreen" ng-show="userIsSignedIn() && !smallScreen" class="nav-item">
            <a class="nav-link" ui-sref="profile" ui-sref-active="active">Profile</a>
          </li>
          <li ng-show="userIsAdmin() && !smallScreen" class="nav-item">
            <a class="nav-link" ui-sref="admin" ui-sref-active="active">Admin Portal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref="faq" href="#">FAQ</a>
          </li>
          <li ng-show="userIsSignedIn()" class="nav-item">
            <a class="nav-link" href="mailto:yingz@uci.edu?Subject=Ming%20Government%20Official%20Titles">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref="bibliography">Bibliography</a>
          </li>
        </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<discuss></discuss>
