<div class="collapse navbar-collapse" id="nav-right">
  <ul class="nav navbar-nav navbar-right">
      <li class="nav-item active">
        <a class="nav-link about" ui-sref="about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contributors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">FAQ</a>
      </li>
      <li ng-show="!userIsSignedIn()" class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">Login</a>
      </li>
      <li ng-show="userIsSignedIn()" class="nav-item">
        <a class="nav-link" ng-click="logOutUser()">Logout</a>
      </li>
      <li ng-show="!userIsSignedIn()" class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#signupFormModal">
          <!-- trigger signup modal -->
          Sign Up
        </a>
      </li>
      <li ng-show="userIsSignedIn()" class="nav-item">
        <a class="nav-link" ui-sref="profile">Profile</a>
      </li>
      <li ng-show="userIsSignedIn() && userIsAdmin()" class="nav-item">
        <a class="nav-link" ui-sref="admin">Admin Portal</a>
      </li>
    </ul>

</div><!-- /.navbar-collapse -->
