<div class="container">
  <a class="back" ui-sref="main">< Back to main</a>

  <div class="chinese-title">
    <h1>Official Chinese:&nbsp;{{title.chinese_title}}</h1>
    <h2>Official Pin Yin:&nbsp;{{title.pinyin_title}}
  </div>
official English translations:
  <div class="official-translations" ng-repeat="translation in title.translations | filter:{ approved: true }">
    <h3>{{translation.translation_text}}</h3>
    <p>Author:&nbsp;{{translation.user.email}}</p>
    <!-- <p>Author:&nbsp;{{translation.user.email}}</p> -->
  </div>

unofficial English translations:
  <div class="official-translations" ng-repeat="translation in title.translations">
    <h3>{{translation.translation_text}}</h3>
    <p>Author:&nbsp;{{translation.user.email}}</p>
    <p>comment on translation</p>
  </div>

  <button ng-click="postTranslation()">POST</button>

  <a class="nav-link" data-toggle="modal" data-target="#newCommentModal">Comment</a>
  <a class="nav-link" data-toggle="modal" data-target="#newTranslationModal">Translation</a>



Add a translation:


<span>{{title}}</span>


<new-translation-form></new-translation-form>
<new-comment-form></new-comment-form>







</div>
