<div class="translations-bg">
  <div class="container translation-container">
    <back-link></back-link>
    <div class="chinese-title">
      <h1>
        Chinese Title:&nbsp;{{title.chinese_title}}
        <a class="comment-link" data-toggle="modal" ng-click="logCurrentTranslation(translation)" data-target="#newTitleCommentModal">
          Comment on Chinese title
        </a>
      </h1>
      <h2>
        Pinyin Title:&nbsp;{{title.pinyin_title}}
        <a class="comment-link" data-toggle="modal" ng-click="logCurrentTranslation(translation)" data-target="#newPinyinCommentModal">
          Comment on Pinyin title
        </a>
      </h2>
    </div>
    <div class="add-translation"><a class="nav-link" data-toggle="modal" data-target="#newTranslationModal">
      Add a new translation
    </a></div>
    <div class="translation-subhead">
      <h3 class="">English Translations:</h3>
    </div>
    <div class="official-translations" ng-repeat="translation in translations.official">
      <div class="translation" ng-show="translation.approved">
        <div class="translation-block">
          <h3>{{translation.translation_text}}</h3>
          <h4 ng-show="userCanViewAuthor(translation)">Author: {{translation.user.fname}}&nbsp;{{translation.user.lname}}</h4>
          <p>Explanation of translation: (show if one is available): {{}}</p>
          <p>Links: {{}}</p>
          <p>Other scholars who could help translate this title: {{}}</p>
          <span ng-show="userCanDelete(translation)">
            <a ng-click="deleteTranslation(translation.id)">Delete</a>
          </span>&nbsp;&nbsp;&nbsp;
          <span ng-show="userCanEdit(translation)">
            <a data-toggle="modal" ng-click="logCurrentTranslation(translation)" data-target="#editTranslationModal">Edit</a>
          </span>
        </div>
        <div class="comments-block" ng-show="translation.comments.length > 0">
          <h4>Comments on this translation:</h4>
          <ul ng-repeat="comment in translation.comments | orderBy: 'id'">
            <li class="translation-comment">
              <article>
                <span class="comment-date">Posted:&nbsp;{{comment.formatted_date}}</span><br/>
                <div class="comment-text">
                  <span>{{comment.comment_text}}</span><br/>
                </div>
                  <span ng-show="userCanDelete(comment)">
                    <a ng-click="deleteComment(comment.id)">Delete</a>
                  </span>&nbsp;&nbsp;&nbsp;
                  <span ng-show="userCanEdit(comment)">
                    <a data-toggle="modal" ng-click="logCurrentComment(comment)" data-target="#editCommentModal">Edit</a>
                  </span>
              </article>
            </li>
          </ul>

        </div>
        <p class="comment-trigger">
          <a data-toggle="modal" ng-click="logCurrentTranslation(translation)" data-target="#newCommentModal">
            Comment on this translation
          </a></p>
      </div>
    </div>
    <div class="translation placeholder" ng-show="noOfficialTranslations()"><em>Currently there are no translations for this title</em></div>
    <div class="translation-subhead">
      <h3 class="">Other English translations:</h3>
    </div>
    <div class="unofficial-translations" ng-repeat="translation in translations.unofficial">
      <div class="translation" ng-show="!translation.approved">
        <div class="translation_block">
          <h3>{{translation.translation_text}}</h3>
          <h4 ng-show="userCanViewAuthor(translation)">Author: {{translation.user.fname}}&nbsp;{{translation.user.lname}}</h4>
          <p>Explanation of translation: {{translation.explanation}}</p>
          <p>Other scholars who could help translate this title: {{translation.scholars}}</p>
          <span ng-show="userCanDelete(translation)" ng-click="deleteTranslation(translation.id)">
            <a>Delete</a>
          </span>&nbsp;&nbsp;&nbsp;
          <span ng-show="userCanEdit(translation)">
            <a data-toggle="modal" ng-click="logCurrentTranslation(translation)" data-target="#editTranslationModal">Edit</a>
          </span>
        </div>
        <div class="comments-block" ng-show="translation.comments.length > 0">
          <h4>Comments on this translation:</h4>
          <ul ng-repeat="comment in translation.comments | orderBy: 'id'">
            <li class="translation-comment">
              <article>
                <!-- <span>{{comment}}</span> -->
                <span class="comment-date">Posted:&nbsp;{{comment.formatted_date}}</span><br/>
                <div class="comment-text">
                  <span>{{comment.comment_text}}</span><br/>
                </div>
                  <span ng-show="userCanEdit(comment)">
                    <a ng-click="deleteComment(comment.id)">Delete</a>
                  </span>&nbsp;&nbsp;&nbsp;
                  <span ng-show="userCanDelete(comment)">
                    <a data-toggle="modal" ng-click="logCurrentComment(comment)" data-target="#editCommentModal">Edit</a>
                  </span>
              </article>
            </li>
          </ul>
        </div>
        <p class="comment-trigger"><a data-toggle="modal" ng-click="logCurrentTranslation(translation)" data-target="#newCommentModal">Comment on this translation</a></p>
      </div>
    </div>
    <div class="translation placeholder" ng-show="noUnofficialTranslations()"><em>Currently there are no other English translations for this title</em></div>
    <div class="add-translation">
      <a class="nav-link" data-toggle="modal" data-target="#newTranslationModal">
        Add a new translation
      </a>
    </div>

    <div class="title-comment-subhead">
      <h4 class="title-comment-title">Comments on the Pinyin title:</h4>
    </div>
    <div class="unofficial-translations" ng-repeat="comment in title.pinyin_comments">
      <div class="translation">
        <div class="title-comment-block">
          <span class="comment-date">Posted:&nbsp;{{comment.formatted_date}}</span><br/>
          <p>Comment: {{comment.comment_text}}</p>
          <span ng-show="userCanDelete(comment)" ng-click="deletePinyinComment(comment.id)">
            <a>Delete</a>
          </span>&nbsp;&nbsp;&nbsp;
          <span ng-show="userCanEdit(comment)">
            <a data-toggle="modal" ng-click="logCurrentPinyinComment(comment)" data-target="#editPinyinCommentModal">Edit</a>
          </span>
        </div>
      </div>
    </div>
    <div class="translation placeholder" ng-show="noPinyinComments()"><em>Currently there are no comments on the Pinyin title</em></div>

    <div class="title-comment-subhead">
      <h4 class="title-comment-title">Comments on the Chinese title:</h4>
    </div>
    <div class="unofficial-translations" ng-repeat="comment in title.title_comments">
      <div class="translation">
        <div class="title-comment-block">
          <span class="comment-date">Posted:&nbsp;{{comment.formatted_date}}</span><br/>
          <p>Comment: {{comment.comment_text}}</p>
          <span ng-show="userCanDelete(comment)" ng-click="deleteTitleComment(comment.id)">
            <a>Delete</a>
          </span>&nbsp;&nbsp;&nbsp;
          <span ng-show="userCanEdit(comment)">
            <a data-toggle="modal" ng-click="logCurrentTitleComment(comment)" data-target="#editTitleCommentModal">Edit</a>
          </span>
        </div>
      </div>
    </div>
    <div class="translation placeholder" ng-show="noPinyinComments()"><em>Currently there are no comments on the Chinese title</em></div>


    <new-translation-form></new-translation-form>
    <new-comment-form></new-comment-form>
    <new-pinyin-comment-form></new-pinyin-comment-form>
    <new-title-comment-form></new-title-comment-form>

    <edit-translation-form></edit-translation-form>
    <edit-comment-form></edit-comment-form>
    <edit-pinyin-comment-form></edit-pinyin-comment-form>
    <edit-title-comment-form></edit-pinyin-comment-form>

  </div>
</div>
