<div class="translation-approval-table">
  <table ng-table="tableParams" table-pagination-top table-pagination-bottom  class="table" show-filter="true">
      <tr class="" ng-repeat="translation in $data" ng-model="translation.title.id">
          <td title="'Translation ID'" filter="{ id: 'number'}" sortable="'id'" ng-click="seeTitle(translation.title.id)">
              {{translation.id}}</td>
          <td title="'English Translation'" filter="{ translation_text: 'text'}" sortable="'translation_text'" ng-click="seeTitle(translation.title.id)">
              {{translation.translation_text}}</td>
          <td title="'Official Title'" filter="{ chinese_title: 'text'}" sortable="'chinese_title'" ng-click="seeTitle(translation.title.id)">
              {{translation.chinese_title}}</td>
          <td title="'# of Translations for Title'" filter="{ num_translations: 'number'}" sortable="'num_translations'" ng-click="seeTitle(translation.title.id)">
              {{translation.translation_count}}</td>
          <td title="'# of Comments on Translation'" sortable="'comments.length'">
              {{translation.comments.length}}</td>
          <td title="'Scholar ID'" filter="{ user: 'text'}" sortable="'user'" ng-click="seeTitle(translation.title.id)">
              {{translation.user_id}}</td>
          <td title="'Explanation'" filter="{ explanation: 'text'}" sortable="'explanation'" ng-click="seeTitle(translation.title.id)">
              {{translation.explanation}}</td>
          <td title="'Other Scholars'" filter="{ scholars: 'text'}" sortable="'scholars'" ng-click="seeTitle(translation.title.id)">
              {{translation.scholars}}</td>
          <td title="'Flagged'" filter="{ flag: 'select'}" sortable="'flag'" ng-click="setFlag(translation, translation.flag)" filter-data="flaggedFilter">
              <i class="fa fa-lg fa-flag"  ng-class="{'flagged': translation.flag}" aria-hidden="true"></i></td>
          <td title="'Status'" filter="{ status: 'select'}" filter-data="statusFilter" sortable="'status'">
              {{translation.status}}</td>
          <td title="'Approve/Revoke'">
              <button ng-show="!translation.approved" ng-click="approveTranslation(translation)">Approve Translation</button><button ng-show="translation.approved" ng-click="revokeTranslation(translation)">Set as Unapproved</button></td>

      </tr>
  </table>
</div>
