<div class="translation-approval-table">
  <table ng-table="tableParams" class="table" show-filter="true">
      <tr class="" ng-repeat="translation in $data" ng-model="translation.title.id" ng-click="seeTitle(translation.title.id)">
          <td title="'Translation #'" filter="{ id: 'number'}" sortable="'id'">
              {{translation.id}}</td>
          <td title="'English Translation'" filter="{ translation_text: 'text'}" sortable="'translation_text'">
              {{translation.translation_text}}</td>
          <td title="'Official Title'">
              {{translation.title.chinese_title}}</td>
          <td title="'Scholar ID'" filter="{ user: 'text'}" sortable="'user'">
              {{translation.user_id}}</td>
          <td title="'Explanation'" filter="{ explanation: 'text'}" sortable="'explanation'">
              {{translation.explanation}}</td>
          <td title="'Other Scholars'" filter="{ scholars: 'text'}" sortable="'scholars'">
              {{translation.scholars}}</td>
          <td title="'additional_comment'" filter="{ additional_comment: 'text'}" sortable="'additional_comment'">
              {{translation.additional_comment}}</td>
          <td title="'Approved?'" filter="{ approved: 'select'}" filter-data="approvedFilter" sortable="'approved'">
              {{translation.approved}}</td>
          <td title="'Approve/Revoke'">
              <button ng-show="!translation.approved" ng-click="approveTranslation(translation)">Approve Translation</button><button ng-show="translation.approved" ng-click="revokeTranslation(translation)">Set as Unapproved</button></td>

      </tr>
  </table>
</div>
