.admin {
  .nav-link:hover {
    background-color: white;
    text-decoration: underline;
  }
  .active {
    font-weight: bold;
    background-color: white;
    border-bottom: none;
    text-decoration: underline;
  }

}

.mobile {
  font-size: 5px;
}

.fa-flag, .fa-sticky-note {
  color: $uci-grey;
}

.fa-check {
  color: rgb(82, 171, 67);
}

.fa-times {
  color: rgb(145, 34, 34);
}

.flagged {
  color: $uci-blue;
}

.export-item {
  padding: 30px;
}

.translation-spinner {
  position: absolute;
  top: 500px;
  width: 30px;
  margin-left: 40%;
  margin-right: 40%;
}

.popover {
  padding-bottom: 10px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
