html {
    position: relative;
    min-height: 100%;
}

.container {
  min-height: 60vh;
}

footer {
  background-color: white;
  left: 0;
  bottom: 0;
  height: auto;
  width: 100%;
  border-top: solid 1px #ccc;
}

.contributors, .sponsors {
  margin-top: 15px;
}

footer {
  background-color: white;
  width: 100%;
  border-top: solid 1px #ccc;
}
