.titles-form {
  input {
    margin-bottom: 10px;
    margin-left: 5px;
  }
  button {
    margin: 10px;
  }
  textarea {
    width: 100%;
  }
}

.form-group {
  margin-bottom: 0px;
}

.modal-content {
  background-color: white;
  border-radius: 0px;
  width: 100%;
  padding-right: 0px 15px;
}

.control-label {
  padding-right: 0px;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 750px;
    margin: 40px auto;
  }
}

#comment_text {
  height: 300px;
  border: 1px solid #ccc;
}

.mid-form-title {
  border: none;
  border-top: 1px solid #ccc;
  margin-top: 15px;
}

hr {
  border: 1px solid #ccc;
  width: 100%;
}
