.content-view {
  margin-top: 15px;
}

.back-link {
  margin-top: 15px;
}

#profile-info {
  z-index: 900;
}

.panel-heading {
  button {
    top: -5px;
    color: $uci-light-yellow-solid;
    background-color: $uci-blue;
  }
  button:hover {
    background-color: $uci-light-yellow-solid;
    color: $uci-blue;
  }
  button:focus {
    background-color: $uci-blue;
    color: $uci-light-yellow-solid;
  }
  .btn-sm {
    padding: 5px 8px;
    line-height: 1;
  }
}

.nav-tabs {
  .active {
    // border: .5px solid black;
    background-color: none;
    border-bottom: none;
    background-color: none;
  }
  li {
    a {
      border-radius: 0;
      margin: 0;
    }
  }

}
