// Place all the styles related to the Titles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


tbody {
  tr:hover {
    background-color: #dfdfdf;
  }
}

tr:nth-child(even) {
  background: white;
}

tr:nth-child(odd) {
  background: #f9f9f9;
}

th.filter, th.header {
  background-color: white;
}
