// Place all the styles related to the Titles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


tbody {
  tr:hover {
    // background-color: #dfdfdf;
    background-color: $uci-light-yellow-transp;
  }
}

tr:nth-child(even) {
  background: white;
}

tr:nth-child(odd) {
  background: $table-yellow;
}

th.filter, th.header {
  background-color: white;
}

.pagination > li > a {
  line-height: 1.1;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: $uci-header-blue;
  border-color: $uci-header-blue;
}

.spinner {
  position: absolute;
  top: 200px;
  width: 30px;
  margin-left: 40%;
  margin-right: 40%;
}
