<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome, <%= @user.fname %>!</h1>
    <h3>Ming Government Official Titles: A Crowd-Translation Project</h3>
    <p>
      Thank you for registering with us as a contributor! We will contact you shortly once our administrators review your application.
    <br>
      Your username is: <%= @user.email %>.<br>
    </p>
    <p>
      To visit to the site, just follow this link: http://mingofficialtitles.lib.uci.edu.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>
