<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>
      Ming Government Official Titles: A Crowd-Translation Project
    </h1>
    <p>
      Thank you for making a contribution to the project! If your translation is accepted you will be acknowledged for your your contribution at http://mingofficialtitles.lib.uci.edu/contributors.
    </p>
    <p>
      Here is the translation you submitted:
      <%= @translation %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
